@import url('https://fonts.cdnfonts.com/css/fira-code-2');

.fc-toolbar-title {
  background-color: #8b8b8b;
  padding: 5px;
  border-radius: 10px;
  color: whitesmoke;
}

.full-calendar-wrapper {
  font-family: 'Fira Code', sans-serif;                                              
  font-size: 12px;
}
